/*Do an inspect element on chrome to find where css is being applied on the framework 7 items
i.e. if you inspect the navbar css 
           1. On chrome inspect click: <div data-brackets-id="719" class="navbar-bg"></div>
            2. It will show all the css being used on the nav bar
*/
/*
If the above doesn't work and the framwork 7 css is "winning" and your css isn't going through add
the !importan; flag to override the framework 7 css

background-color: red !important;
*/
body{
    overflow: scroll; 
}
.preloaders{
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed !important ;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}

header {
	width: 100%;
	height: 30%;
	padding: none;
	background-image: url('../imgs/home_flag-01.png');
	background-size: cover;
	background-position: center;
	/*    background-repeat: no-repeat;*/
	/*    position: relative;*/
}

.sd {
	padding: 1px;
	font-family: 'Open Sans Condensed', sans-serif !important;
	font-weight: 100;
}

a {
	text-decoration: none !important;
}

.da {
	height: 300px;
	padding: 15px;

}

.inspo {
	border-color: white;
}

#date {
	height: 100px;
	text-align: center !important;
	margin-top: 2.0em;
	margin-left: -1em !important; 
/*	margin-top: 2.3em;*/
	color: white !important;
	font-size: 35px !important;
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}
.page-content{
	overflow: auto;
}
.cards{
	overflow-y: scroll;
}
.demo-card-header-pic .card-header {
  height: 50vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
.card-content-padding{
display: none; 
}


.dareu {
	border-radius: 4px;
	color: #fff;
	background-color: #f4cc70;
	width: 100%;
	font-size: 21px;
	font-weight: 100;
	font-family: 'Satisfy', cursive !important;
	padding: 1px;

}
#quoteDisplay, #quoteDisplays {
	font-size: 20px !important ;
	margin-left: 1em;
}
#critterselect {
	width: 50%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}

#critterbox {
	font-family: monospace;
	display: grid;
}

#supplies .food {
	width: 10%;
}

#supplies .water {
	width: 10%;
}

/*animation */
@keyframes walk {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(20px)
	}
}

.walking {
	animation-name: walk;
	animation-duration: .5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#name {
	border-bottom: 2px solid pink !important;
	display: none;
}

@charset "UTF-8";

body {
	background: #edf0f1;
	margin: 0 auto;
}

.preloader {
	align-items: center;
	background: rgb(23, 22, 22);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 0.3s linear;
	width: 100%;
	z-index: 9999;
}

.container {
	padding: 100%;
	width: 100%;
	/*	margin: 0 auto;*/
}

body,
input,
button {
	font-family: 'Open Sans Condensed', sans-serif !important;
}

input {
	font-size: 1.5em !important;
}

.noFill {
	fill: none;
}

header {
	width: 100%;
	height: 30%;
	padding: none;
	background-image: url('../imgs/home_flag-01.png');
	background-size: cover;
	background-position: center;
	/*    background-repeat: no-repeat;*/
	/*    position: relative;*/
}

.sd {
	text-align: center;
	font-size: 1.5em;
	font-family: 'Satisfy', cursive;
	color: #82D182;
	text-decoration: none !important;
}

#date {
	font-family: 'Satisfy', cursive;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 20px;

	color: #82D182;
	font-size: 1.5em;
	font-weight: 300;
}

footer {
	width: 100%;
	height: 80px;
	position: fixed;
	padding: 15px;
	bottom: 0;
	left: 0;
	z-index: 5;

	background: #f4cc70;
	box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer input {
	width: 100%;
	height: 50px;
	float: left;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	text-indent: 18px;
	padding: 0 60px 0 0;
	background: rgba(255, 255, 255, 0.17);
	border-radius: 5px 25px 25px 5px;
	border: 0px;
	box-shadow: none;
	outline: none;

	-webkit-appearance: none;
	-moz-appearance: none;
}

footer input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

footer input:-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

footer input::-moz-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

footer input:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
}

footer button {
	width: 50px;
	height: 50px;

	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;

	border-radius: 25px;
	background: #fff;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
}

footer button svg {
	width: 16px;
	height: 16px;

	position: absolute;
	top: 50%;
	left: 50%;

	margin: -8px 0 0 -8px;
}

footer button svg .fill {
	fill: #25b99a;
}

.container {
	width: 100%;
	float: left;
	padding: 15px;
}

ul.todo {
	width: 100%;
	float: left;
}

ul.todo li {
	width: 100%;
	min-height: 50px;
	float: left;
	font-size: 14px;
	font-weight: 500;
	color: #444;
	line-height: 22px;

	background: #fff;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
	margin: 0 0 10px 0;
	padding: 14px 100px 14px 14px;
	word-break: break-word;
}

ul.todo li:last-of-type {
	margin: 0;
}

ul.todo li .buttons {
	width: 100px;
	height: 50px;

	position: absolute;
	top: 0;
	right: 0;
}

ul.todo li .buttons button {
	width: 50px;
	height: 50px;
	float: left;
	background: none;
	position: relative;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
	content: '';
	width: 1px;
	height: 30px;
	background: #edf0f1;

	position: absolute;
	top: 10px;
	left: 0;
}

ul.todo li .buttons button svg {
	width: 22px;
	height: 22px;

	position: absolute;
	top: 50%;
	left: 50%;

	margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
	border-radius: 11px;
	border: 1.5px solid #82D182;

	transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
	background: #82D182;
	border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
	background: rgba(130, 209, 130, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
	fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
	fill: #fff;
}

ul.todo li .buttons button svg .fill {
	transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
	fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
	fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
	fill: #25b99a;
}

ul.todo#completed {
	position: relative;
	padding: 60px 0 0 0;
}

ul.todo#completed:before {
	content: '';
	width: 150px;
	height: 1px;
	background: #d8e5e0;

	position: absolute;
	top: 30px;
	left: 50%;

	margin: 0 0 0 -75px;
}

ul.todo#todo:empty:after {
	content: 'All out of dares...challenge yourself again';
	margin: 25px 0 0 0;
	font-size: 1.1em;
}

ul.todo#completed:empty:after {
	content: 'No dares completed yet 👀';
	font-size: 1.1em;

}

ul.todo#todo:after,
ul.todo#completed:after {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 12px;
	color: #aaa;
}

.bg-color-red {
	--f7-card-expandable-bg-color:  !important #fff;
	height: 100%;
	padding: none;
	background-image: url('../imgs/healthnfit.jpg');
	opacity: 0.9;
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans Condensed', sans-serif !important;

}

.bg-color-yellow {
	--f7-card-header-text-color: white !important;
	height: 40%;
	padding: none;
	background-image: url('../imgs/travel.jpg');
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	font-family: 'Open Sans Condensed', sans-serif !important;

}




.card-content {
	height: 100vh;
}

.link card-close card-opened-fade-in color-white {
	display: none;
}

